* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: arial;
}

nav {
  text-align: center;
  font-family: arial;
}

.pagination-u {
  list-style: none;
  display: inline-block;
  padding: 0;
  margin-top: 10px;
}

li {
  display: inline;
  text-align: center;
}
.pagi-item {
  background-color: darkslategray;
  color: whitesmoke;
  float: left;
  display: block;
  font-size: 14px;
  text-decoration: none;
  padding: 5px 12px;
  margin-left: -1px;
  border: 1px solid transparent;
  line-height: 1.5;
}
.active {
  cursor: default;
}
.pagi-item:active {
  outline: none;
}

.pagi-item {
  margin-left: 3px;
  padding: 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 100%;
}

.pagi-item:hover {
  background-color: #51e0e0;
  color: darkslategray;
}

.active {
  cursor: default;
  background-color: #4dad16;
  color: white;
}
