* {
  box-sizing: border-box;
  margin: 0;
}

.App {
  min-height: 100vh;
  overflow: hidden;
}

.img-div:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.5s;
}
.search-bar {
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  font-size: x-large;
  width: 50vw;
  text-align: center;
  outline: none;
  color: gray;
  font-weight: 300;
}
.App h1 {
  color: whitesmoke;
  border: 5px solid white;
  border-radius: 5%;
  margin-top: 1rem;
  padding: 0.5rem;
  display: inline;
}
/* linear-gradient(0deg,rgba(0,0,0,.6) 0,transparent) */

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  max-height: 85%;
}

.modal-content {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}
.page_Container {
  width: 100vw;
  display: flex;
  justify-content: center;
  color: #fff;
}

.save-btn {
  position: relative;
  left: 43%;
  bottom: -5%;
  opacity: 0.7;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.fixed_pos {
  position: sticky;
  left: 0;
  top: 0;
  z-index: 11;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}

.toggler {
  position: absolute;
  top: 50%;
  right: 60%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 2.5rem;
  height: 1.3rem;
  margin: 0 10px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: gray;
  transition: 0.4s;
  border: 1px solid white;
  border-radius: 34px;
}

.switch input {
  display: none;
}

.slider::before {
  position: absolute;
  content: "";
  height: 1rem;
  width: 1rem;
  left: 0.15rem;
  bottom: 0.1rem;
  background-color: white;
  transition: 0.4s;
  border-radius: 50px;
}

input:checked + .slider {
  background-color: black;
}

input:checked + .slider::before {
  transform: translateX(1.1rem);
}

.toggle-container {
  margin-right: 20px;
  top: 0;
  right: 50px;
}

@media only screen and (max-width: 400px) {
  .toggle-container {
    position: absolute;
    bottom: 94%;
    margin: 10px;
  }
}
